:root {
  --podium-blue: #1c67ff;
}

.App {
  min-height:700px;
  min-height:80vh;
  padding: 20px;
  background: white url("/Group-2747.jpg");
}

.header-logo-suffix {
  color:white;
  margin-left:1em;
  text-transform: uppercase;
}