.form {
    max-width:600px;
}
.form label {
    display:block;
    margin:0.5em 0;
}
.form input {
    display:block;
    min-width:50%;
    padding:0.35em 0.5em;
    font-family: sans-serif;
}
@media screen and (max-width:768px) {
    .form input {
        width:100%;
    }
}
.form .button.button-big {
    font-size:1.1rem;
    padding:0.35em 0.75em;
}
.form button[type=submit] {
    cursor:pointer;
}
